In [1]:
# TASK 1: Basic Arithmetic


# Accept two integer inputs
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

# Perform operations
add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2
mod = num1 % num2
exp = num1 ** num2

# Display results using f-strings
print("\n--- Arithmetic Operations ---")
print(f"Addition: {num1} + {num2} = {add}")
print(f"Subtraction: {num1} - {num2} = {sub}")
print(f"Multiplication: {num1} * {num2} = {mul}")
print(f"Division: {num1} / {num2} = {div}")
print(f"Modulus: {num1} % {num2} = {mod}")
print(f"Exponentiation: {num1} ** {num2} = {exp}")

Enter first number:  10
Enter second number:  8

--- Arithmetic Operations ---
Addition: 10 + 8 = 18
Subtraction: 10 - 8 = 2
Multiplication: 10 * 8 = 80
Division: 10 / 8 = 1.25
Modulus: 10 % 8 = 2
Exponentiation: 10 ** 8 = 100000000

In [2]:
# TASK 2: Lists and NumPy Arrays

import numpy as np

# Create a list with 10 numbers
numbers = [10, 25, 36, 47, 52, 63, 74, 81, 92, 15]

print("\n--- List Operations ---")
print("Original List:", numbers)

# Length
print("Length of list:", len(numbers))

# Maximum and Minimum
print("Maximum value:", max(numbers))
print("Minimum value:", min(numbers))

# Add and Remove element
numbers.append(150)
removed_element = numbers.pop(4)
print("After Adding 150:", numbers)
print(f"Removed element: {removed_element}")

# Sorting
print("Ascending Order:", sorted(numbers))
print("Descending Order:", sorted(numbers, reverse=True))

# Convert to NumPy array
arr = np.array(numbers)

print("\n--- NumPy Calculations ---")
print("Mean:", np.mean(arr))
print("Median:", np.median(arr))
print("Standard Deviation:", np.std(arr))

--- List Operations ---
Original List: [10, 25, 36, 47, 52, 63, 74, 81, 92, 15]
Length of list: 10
Maximum value: 92
Minimum value: 10
After Adding 150: [10, 25, 36, 47, 63, 74, 81, 92, 15, 150]
Removed element: 52
Ascending Order: [10, 15, 25, 36, 47, 63, 74, 81, 92, 150]
Descending Order: [150, 92, 81, 74, 63, 47, 36, 25, 15, 10]

--- NumPy Calculations ---
Mean: 59.3
Median: 55.0
Standard Deviation: 40.32381430370892

In [3]:
# TASK 3: Dictionaries and Sets


# Create dictionary
student = {
    "name": "Janani",
    "age": 21,
    "course": "Machine Learning",
    "marks": 93
}

print("\n--- Student Dictionary ---")
for key, value in student.items():
    print(f"{key}: {value}")

# Add new key
student["grade"] = "A+"
print("Updated dictionary:", student)

# Create set of unique courses
courses = {"Python", "AI", "Data Science", "Deep Learning", "Python"}
print("\n Unique Courses Set:", courses)

# Set operations
set1 = {"AI", "ML", "Python", "CV"}
set2 = {"Python", "Data Science", "ML", "NLP"}

print("\n--- Set Operations ---")
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):", set1 - set2)

--- Student Dictionary ---
name: Janani
age: 21
course: Machine Learning
marks: 93
Updated dictionary: {'name': 'Janani', 'age': 21, 'course': 'Machine Learning', 'marks': 93, 'grade': 'A+'}

 Unique Courses Set: {'Python', 'AI', 'Data Science', 'Deep Learning'}

--- Set Operations ---
Union: {'NLP', 'Python', 'AI', 'ML', 'Data Science', 'CV'}
Intersection: {'Python', 'ML'}
Difference (set1 - set2): {'CV', 'AI'}

In [4]:
# TASK 4: File Handling 


# Create and write student data to a file
with open("student_data.txt", "w") as file:
    file.write("Name,Course,Marks\n")
    file.write("Kavin,Machine Learning,92\n")
    file.write("Anitha,Deep Learning,78\n")
    file.write("Dharshini,Python,66\n")
    file.write("Ragul,Data Analytics,84\n")
    file.write("Shalini,Artificial Intelligence,59\n")

# Read and display students with marks > 75
print("\n--- Students with Marks > 75 ---")
with open("student_data.txt", "r") as file:
    next(file)  # skip header
    for line in file:
        name, course, marks = line.strip().split(",")
        if int(marks) > 75:
            print(f"{name} - {course} - {marks}")

--- Students with Marks > 75 ---
Kavin - Machine Learning - 92
Anitha - Deep Learning - 78
Ragul - Data Analytics - 84